*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  margin-top: 150px;
  background: #fff;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
a:visited {
  color: #585858;
}
.container {
  margin: 0 auto;
}

/* Home */
.home img {
  max-width: 230px;
}
.home .destinations {
  display: flex;
  justify-content: space-between;
}

/* Navigation */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  padding: 30px;
  background: #000000;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #696969;
  z-index: 2;
}
#nav a {
  display: inline-block;
  margin-right: 20px;
  color: white;
  opacity: 0.7;
  transition: 0.2 ease color;
}
#nav a.router-link-active,
#nav a:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  font-weight: bold;
}